<p id="notice"><%= notice %></p>

<div class="row">
    <% @tareas.each do |tarea| %>
      <div class="card">
        <%= tarea.title %>
        <%= image_tag tarea.image.url if tarea.image? %>
        <br>
        <%= link_to 'Show', tarea %>
        <%= link_to 'Edit', edit_tarea_path(tarea) %>
        <%= link_to 'Destroy', tarea, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
<br>

<%= link_to 'New Tarea', new_tarea_path %>